<form class="max-w-full mx-auto p-6 bg-white rounded-lg shadow-md">
    <section class="mb-6 grid grid-cols-1 md:grid-cols-2 gap-6">
        <app-input 
            [title]="userTitles[0]" 
            (inputEvent)="onInputChange($event)" 
            [value]="user.name" 
            [editable]="editable"
        ></app-input>
        <app-input 
            [title]="userTitles[1]" 
            (inputEvent)="onInputChange($event)" 
            [value]="user.email" 
            [editable]="editable"
        ></app-input>
        <app-input 
            [title]="userTitles[2]" 
            (inputEvent)="onInputChange($event)" 
            [value]="user.phone" 
            [editable]="editable"
        ></app-input>
    </section>
    <section class="mb-6">
        <p class="text-lg font-semibold mb-4">ENDEREÇO</p>
        <section class="grid grid-cols-1 md:grid-cols-2 gap-6">
            <app-input 
                [title]="addressTitles[0]" 
                (inputEvent)="onInputChange($event)" 
                [value]="user.address.street" 
                [editable]="editable"
            ></app-input>
            <app-input 
                [title]="addressTitles[1]" 
                (inputEvent)="onInputChange($event)" 
                [value]="user.address.neighborhood || ''" 
                [editable]="editable"
            ></app-input>
            <app-input 
                [title]="addressTitles[2]" 
                (inputEvent)="onInputChange($event)" 
                [value]="user.address.city" 
                [editable]="editable"
            ></app-input>
            <app-input 
                [title]="addressTitles[3]" 
                (inputEvent)="onInputChange($event)" 
                [value]="user.address.cep || ''" 
                [editable]="editable"
            ></app-input>
            <app-input 
                [title]="addressTitles[4]" 
                (inputEvent)="onInputChange($event)" 
                [value]="user.address.state" 
                [editable]="editable"
            ></app-input>
        </section>
    </section>
</form>
