<form>
    <section *ngFor="let title of userTitles">
        <app-input [title]="title" (inputEvent)="onInputChange($event)"></app-input>
    </section>
    <section>
        <p>ENDEREÇO</p>
        <section *ngFor="let title of addressTitles">
            <app-input [title]="title" (inputEvent)="onInputChange($event)"></app-input>
        </section>
    </section>
    <app-button [text]="buttonCancel" (event)="onButtonClick($event)"></app-button> 
    <app-button [text]="buttonSave" (event)="onButtonClick($event)"></app-button> 
</form>
