<table>
    <thead>
        <tr>
            <th>CADASTRO</th>
            <th>DATA</th>
            <th>NOME</th>
            <th>TELEFONE</th>
            <th>EMAIL</th>
            <th>AÇÕES</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of database">
            <td>{{data.id}}</td>
            <td>{{data.date}}</td>
            <td>{{data.name}}</td>
            <td>{{data.phone}}</td>
            <td>{{data.email}}</td>
            <td>
                <app-button [text] = "viewButton" (event)="eventManager($event, data.id)"></app-button>
                <app-button [text] = "updateButton" (event)="eventManager($event, data.id)"></app-button>
                <app-button [text] = "deleteButton" (event)="eventManager($event, data.id)"></app-button>
            </td>
        </tr>
    </tbody>
</table>
